NativeMIDI/ane_src/native_src/MacOS/NativeMIDI/Build/Intermediates/NativeMIDI.build/Debug/NativeMIDI.build/build-state~.dat
NativeMIDI/ane_src/native_src/MacOS/NativeMIDI/Build/Intermediates/NativeMIDI.build/Debug/NativeMIDI.build/NativeMIDI~.dep
NativeMIDI/ane_src/native_src/MacOS/NativeMIDI/DerivedData/NativeMIDI/scm.plist
NativeMIDI/ane_src/native_src/MacOS/NativeMIDI/DerivedData/NativeMIDI/Logs/Build/1902400E-ECCF-489D-A2B8-3854F11401FD.xcactivitylog
NativeMIDI/ane_src/native_src/MacOS/NativeMIDI/DerivedData/NativeMIDI/Logs/Build/42FEE392-6708-458D-BF42-C691D2D2F13D.xcactivitylog
NativeMIDI/ane_src/ane_build/library.swf
NativeMIDI/ane_src/ane_build/NativeMIDI.swc
NativeMIDI/ane_src/ane_build/NativeMIDI.framework/NativeMIDI
NativeMIDI/ane_src/ane_build/NativeMIDI.framework/Versions/A/NativeMIDI
NativeMIDI/ane_src/ane_build/NativeMIDI.framework/Versions/Current/NativeMIDI
